DATABASE_URL=postgresql://neondb_owner:npg_VX9YeaoECln8@ep-cool-king-ailoe1tn-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
AUTH_SECRET=5f8d7e2a9c4b1e6f3d8a7c2e9b4f1d6a8c3e7b2f9d4a1c6e8f3b7d2a9c4e1f6

WHATSAPP_CLOUD_API_TOKEN=EAAovbwhEOwUBRgdksGJxMZB9azBDJ0zV6AZAlqDdoocKA6js4NZBLQj8HBoThzyPAsOsyEjN25FW5RflbXZC3272EKLZCJa8Vorh1hbFT5ybbbEXOZCzl0C6qf0tXvsqNweurN8RNfzyO0NIw5OP1ZBVGysUkHMVJUO0Pt6sK5GNDp9ZAyuhvf6HKjohHMV26R7Gc3LJXFH59sdZB7kdWbZBluyybPGvywsPOgPDK5gmsOKRb8sDZCyUT9uS7qs3o7WxGJUCgKymWPtOzgbeSCMyMsY
WHATSAPP_CLOUD_API_PHONE_NUMBER_ID=1178803591974090
WHATSAPP_CLOUD_API_VERIFY_TOKEN=gabrielcarvalhours

ASAAS_API_KEY=$aact_prod_000MzkwODA2MWY2OGM3MWRlMDU2NWM3MzJlNzZmNGZhZGY6OjIzYTlkZjgxLTgwM2ItNDRmMy05MWM5LWEwNGQ3N2Y2MTBhYTo6JGFhY2hfMTk2OWNkMmMtOGMwYi00MWZkLWIzNjYtZDQ0NjMyYTIxZjk1
ASAAS_WEBHOOK_SECRET=
OPENAI_API_KEY=
